.btn {
    width: 38px;
    height: 38px;
    font-family: 'Roboto Regular';
    border-radius: 50px;
    outline: 0 !important;
    border: 1px solid #535458;
    cursor: pointer;
    will-change: transform,scale;
    &:active {
        border: 2px solid #535458;
    }
}

.btn_offer-request {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    background-color: #125f1b;
    border: 1px solid black;
    color: #fff;
    transition: all 200ms;
    &:hover {
        color: #fff;
        text-decoration: none;
        box-shadow: 0 0 7px green;
    }
    &:active {
        border: 1px solid #343a40;
        box-shadow: 0 0 5px black;
        transform: scale(.95);
    }
}

.btn_show-offers {
    display: block;
    margin: 30px auto 0;
    width: 70%;
    background-color: $main-blue;
    color: #fff;
}