.promo {
    width: 100%;
    background: rgb(46,90,137);
    background: linear-gradient(90deg, rgba(46,90,137,1) 0%, rgba(65,111,161,1) 20%, rgba(65,111,161,1) 30%, rgba(46,90,137,1) 45%, rgba(46,90,137,1) 55%, rgba(65,111,161,1) 70%, rgba(65,111,161,1) 80%, rgba(46,90,137,1) 100%);
    border-bottom: 5px solid #5f5c5c;
    cursor: default;
    
    .promo__wrapper {
        padding: 3vh 0 1vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__descr {
        color: #fff;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Roboto Medium';
    }
    &__subtitle {
        font-size: 18px;
    }
    &__list {
        margin-top: 10px;
        font-size: 16px;
    }
}